<div class="container">
  <div class="row text-center">
    <div class="col-md-12 my-4">
      <h1>Add Customer</h1>
    </div>
  <div class="card col-md-6 offset-md-3">
    <div class="card-body">
      <form [formGroup]="newCustomerFormGroup" (ngSubmit)="addCustomer(this.newCustomerFormGroup)">
        <div class="mb-3">
          <div class="form-floating mb-3">
            <input type="text" formControlName="name" class="form-control" id="name" placeholder="Name">
            <label for="name">Name</label>
            <div class="invalid-feedback" *ngIf="newCustomerFormGroup.controls['name'].touched && newCustomerFormGroup.controls['name'].errors && newCustomerFormGroup.controls['name'].errors?.['required']">
              Name is required
            </div>
          </div>
          <div class="form-floating">
            <input type="text" formControlName="email" class="form-control" id="email" placeholder="Email">
            <label for="email">Email</label>
            <div class="invalid-feedback" *ngIf="newCustomerFormGroup.controls['email'].touched && newCustomerFormGroup.controls['email'].errors && newCustomerFormGroup.controls['email'].errors?.['required']">
              Email is required
            </div>
          </div>
        </div>
        <button [disabled]="!newCustomerFormGroup.valid" class="btn btn-success mt-3">Save</button>
      </form>
    </div>
  </div>
</div>
